:root {
  --border-light-color: #1b4e9e;
  --border-dark-color: #1A2028;
}

html {
  margin: 0;
  padding: 0;
  background: #000;
}

body {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

#layout-wrapper {
  grid-template-columns: auto 1380px;
  grid-template-rows: 1040px auto;
  grid-gap: 0px;
  display: grid;
  grid-template-areas: "s g" "s b";
  width: 100%;
  height: 100%;
  background: black;
}

#sidebar {
  grid-area: s;
  background: #000;
  margin: 20px;
  box-shadow:
    /* inner edge */
    10px 0px 0px var(--border-light-color),
    0px 10px 0px var(--border-dark-color),
    -10px 0px 0px var(--border-light-color),
    0 -10px 0px var(--border-dark-color),
    /* top/bottom outer edge, inner corners */
    10px 20px 0px var(--border-light-color),
    -10px 20px 0px var(--border-light-color),
    10px -20px 0px var(--border-light-color),
    -10px -20px 0px var(--border-light-color),
    /* left/right outer edge */
    20px 20px 0px var(--border-dark-color),
    20px -20px 0px var(--border-dark-color),
    -20px 20px 0px var(--border-dark-color),
    -20px -20px 0px var(--border-dark-color);
}

#gameplay-area {
  grid-area: g;
  background: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow:
    0px 10px 0px var(--border-light-color),
    0px -10px 0px var(--border-light-color),
    10px 0px 0px var(--border-dark-color),
    10px 10px 0px var(--border-light-color),
    20px 10px 0px var(--border-light-color),
    20px -10px 0px var(--border-light-color);
}

#bottom-bar {
  grid-area: b;
  background: var(--border-dark-color);
}
.sidebar-spacer {
  width: 100%;
}

.sidebar-seperator {
  width: 100%;
  height: 10px;
  background: var(--border-dark-color);
  border-bottom: 10px solid var(--border-light-color)
}
